extends layout.pug

block content
  table#results-table.table.table-striped
    thead
      tr
        th Achternaam
        th Voorvoegsel
        th Voornaam
        th Geboren
        th Geboorteplaats
        th Overleden
        th Plaats Overlijden
    tbody
      each item in rows
        tr
          td=item.achternaam
          td=item.voorvoegsel
          td=item.voornaam
          td=moment(item.geboren).format('DD-MM-YYYY')
          td=item.geboorteplaats
          td=moment(item.overleden).format('DD-MM-YYYY')
          td=item.rustplaats

  script.
    $(document).ready( function () { 
      $.fn.dataTable.moment('DD-mm-YYYY');
      $("#results-table").DataTable( {
        searching: false,
        lengthChange: false,
        pageLength: 20,
        language: {
          zeroRecords:    "Helaas zijn er geen resultaten gevonden",
          info:  "Resultaat _START_ tot _END_ van totaal _TOTAL_ resultaten",
          paginate: {
            first:      "Begin",
            previous:   "Vorige",
            next:       "Volgende",
            last:       "Laatste"
          }
        }
      });
    })
