extends layout.pug

block content
  table#results-table.table.table-striped
    thead
      tr
        th Achternaam
        th Voornaam
        th Geboren
        th Overleden
        th Geboorteplaats
    tbody
      each item in rows
        tr
          td=item.achternaam
          td=item.voornaam
          td=moment(item.geboren).format('YYYY-MM-DD')
          td=moment(item.overleden).format('YYYY-MM-DD')
          td=item.geboorteplaats